.cart__empty {
    width: 100%;
    margin-bottom: 30px
}

.cart__empty h2, p{
    display: block;
    text-align: center;
}

.link {
    color: #505e4c;
    cursor: pointer;
    transition: 0.2s;
}

.link:hover {
    color: #7b7b7b;
    text-decoration: underline;
}